body {
    font-family: 'Montserrat', sans-serif;
	background-color: #feeded;
}

header {
	background: #f863cc;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 10px 10px 1em;
	clear: left;
	/*color: rgba(0,0,0,0.3)
	text-shadow: 2px 2px #FF0000*/
}

.titulo-secundario {
	text-align: center;
	font-size: 1em;
	margin: 10px 10px 1em;
	clear: left;
	/*color: rgba(0,0,0,0.3)
	text-shadow: 2px 2px #FF0000*/
}

form {	
	margin: 40px 5px;
	padding: auto;
}

.resposta1 {
	width:45%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	line-break: auto;
	border-radius: 5px;
	transition: 100ms all;
	cursor: pointer;
	margin: 15px 5px;
}

/*
.resposta1:hover {
	background: darkorange;
	transform: scale(1.1);
}*/

.resposta2 {
	width:45%;
	padding: 15px 0;
	background: pink;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	line-break: auto;
	border-radius: 5px;
	transition: 100ms all;
	cursor: pointer;
	margin: 15px 5px;
}

/*
.resposta2:hover {
	background: palevioletred;
	transform: scale(1.1);
}*/

.resposta3 {
	width:45%;
	padding: 15px 0;
	background: blue;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	line-break: auto;
	border-radius: 5px;
	transition: 100ms all;
	cursor: pointer;
	margin: 15px 5px;
}

/*
.resposta3:hover {
	background: darkblue;
	transform: scale(1.1);
}*/

.resposta4 {
	width:45%;
	padding: 15px 0;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 100ms all;
	cursor: pointer;
	margin: 15px 5px;
	flex-wrap: wrap;
}

/*
.resposta4:hover {
	background: darkred;
	transform: scale(1.1);
}*/

.input-padrao {	
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.enviar {
	width:60%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}


@media screen and (max-width: 480px) {

	.caixa, .principal, form {
		width: auto;
	}
	
	h1 {
		text-align: center;
	}
}